@import "./utils/vars";
@import "./base/reset";
@import "./base/common";
@import "./utils/hidden";
@import "./utils/mixins";


@import "./components/container";
@import "./components/button";
@import "./components/img";
@import "./components/modal";


@import "./layout/header";
@import "./layout/hero";
@import "./layout/specification";
@import "./layout/progekt";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/filters";
@import "./layout/works";
@import "./layout/footer";

