.team {
    padding-top: 95px;
    padding-bottom: 95px;
    background: #f5f4fa;
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 30px;
    .team-list &:last-child {
            margin-right: 0;
        }
}

.team-card {
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    @include font (36px, 700, 1.16, 0.03em);
    margin-bottom: 50px;
    text-align: center;
    color: var(--title-color);
}

.team-group {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    @include font (16px, 500, 1.19, 0.03em);
    padding-bottom: 10px;
    text-align: center;
    color: var(--title-color);
}

.team-text {
    @include font (16px, 400, 1.19, 0.03em);
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
            margin-right: 0;
        }
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill var(--transition);
    &:hover,
    &:focus {
            background-color: var(--accent-color);
            fill: #ffffff;
        }
}

